<%var url = (top)?"":"./";%>

<div id="floating">
    <p><a href="http://the-frontend-conference-2016.peatix.com/" target="_blank">ハンズオン優先参加チケット付き!! <br class="sp_ib">個人/企業スポンサー募集中です。</a></p>
</div><!-- /#floating -->
<header id="top-head">
    <div class="inner">
        <div id="mobile-head">
            <h1 class="logo"><a href="./"><img src="./img/logo_kfug_lucid.png" alt="" style="height: 1.5em;"></a></h1>
            <div id="nav-toggle">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <nav id="global-nav">
            <ul>
                <li><a href="<%=url%>#about" class="hvr-underline-from-center">ABOUT</a></li>
                <li><a href="<%=url%>#news" class="hvr-underline-from-center">NEWS</a></li>
                <!-- <li><a href="#timetable" class="hvr-underline-from-center">TIME TABLE</a></li> -->
                <li><a href="<%=url%>#access" class="hvr-underline-from-center">ACCESS</a></li>
                <li><a href="<%=url%>#speaker" class="hvr-underline-from-center">SPEAKER</a></li>
                <li><a href="<%=url%>#faq" class="hvr-underline-from-center">FAQ</a></li>
                <li><a href="<%=url%>#contact" class="hvr-underline-from-center">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>
