<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('_head', {title:"ハンズオン"}); %>

	<style>
		.sublogo{
			width:100%;
			max-width: 980px;
			margin: 0 auto;
			display: block;
		}
	</style>
	<script>
		$(function(){
			$(".scroll").on("click",function(){
				var p = $($(this).attr("data-target")).offset().top;
				$('html,body').animate({ scrollTop: p }, 'fast');
				return false;
			});
		})

	</script>
	
</head>
<body>
<%- include('_header', {top:false}); %>


<div id="content-wraper" class="handsonArea">
	<!--<img class="sublogo" src="./img/fec_main.jpg" alt="">-->
	<section class="pagettl column">
		<div class="inner">
			<!--<h2 class="animated bounceInDown">HANDS ON</h2>-->
		</div><!-- /.inner -->
	</section><!-- /.column -->
	
	<section id="handson-howto">
	<div class="inner">
		<div class="handson-howto">
			<h1>ハンズオンってなんだろう？</h1>
			<p>ハンズオンは、実際に手を動かしながら新しい技術に挑戦できる、体験型のブースです。</p>
			<p>話を聞くスタイルのセッションと異なり、実際にその場で新しい技術にチャレンジできるので初心者の方にも安心の企画となっています。</p>
			<p>わからない所や学習に詰まった時などは、会場内のメンターに気軽に質問できるので、迷うこと無く「できる!!」に到達できます!!</p>
			<p>勉強会は難しそうな話が多くてレベルが高そう…と思っていたあなたも、FRONTEND CONFERENCE 2016のハンズオンブースで、「イマドキのフロントエンドエンジニア」の仲間入りに挑戦してみませんか？</p>
		</div>
		</div>
	</section>
	<section id="handson-lists">
		<div class="inner">
		<div class="handson-lists">
			<h1 class="edge">FRONTEND CONFERENCE 2016 でチャレンジできること</h1>
			<ul>
				<% handson.forEach(function(seminor){ %>
				<li><a class="scroll" data-target="#seminor<%=seminor.code%>"><%=seminor.title%></a>
					<!--<span class="tag">デザイナー向け</span>-->
					<!--<span class="tag">エンジニア向け</span>-->
				</li>
				<% })%>
			</ul>
		</div>
		</div>
	</section>
	<section id="handson">
		<div class="inner">
			<% handson.forEach(function(seminor){ %>
			<div class="handson-list" id="seminor<%=seminor.code%>">
				<div class="heading">
					<h1><%=seminor.title%></h1>
					<!--<span class="tag">デザイナー向け</span>-->
					<p><%=seminor.description%></p>
				</div>
				<!--<div class="row detail">-->
					<!--<div class="col-sm-6 speaker-prof">-->
						<!--<div class="prof-detail">-->
							<!--<dl>-->
								<!--<dt>講師</dt>-->
								<!--<dd class="col-sm-4"><img class="prof-img" src="http://placehold.it/100x100/ccc/fff/&text=prof-img" alt=""></dd>-->
								<!--<dd class="name">ほにゃにゃさん</dd>-->
								<!--<dd>ほにょほにょほにょ</dd>-->
							<!--</dl>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-sm-6 handson-detail">-->
						<!--<dl>-->
							<!--<dt>時間</dt>-->
							<!--<dd>20:00 - 23:00</dd>-->
							<!--<dd class="time">3時間</dd>-->
						<!--</dl>-->
					<!--</div>-->
				<!--</div>-->
				<div class="btn-join"><a class="scroll" data-target="#handson-info">参加する！</a></div>
			</div>
			<% })%>
		</div>
	</section>
	
	<section id="handson-info">
		<div class="inner">
		<div class="handson-info">
				<dl>
					<dt>受付について</dt>
					<dd>受付は当日会場内にて実施させていただきます。</dd>
					<dd>会場内での説明や資料をベースに、各自で作業を進めて頂き、不明な点を質問形式でサポートする形のブースイベントとなっております。</dd>
					<dd>各受講者に決められた形のメンターが付いてサポートするタイプのイベントではない点、予めご了承ください。</dd>
				</dl>
				<dl>
					<dt>諸注意</dt>
					<dd>当日は各自PCをご持参ください(PCのレンタルは行っておりません)。</dd>
					<dd>メンタースタッフと参加人数のバランスでは、質問対応にお時間を頂くケースがあります。</dd>
					<dd>座席には限りがありますので、当日の来場状況によっては参加にお時間を頂くケースや参加出来ないケースがございます。</dd>
					<dd>会場ネットワークやネットワークの状態や参加者の持ち込み機器の状態によっては、作業の進行が出来ない場合がございます。</dd>
				</dl>
				<!--<p>その他ご不明な点がありましたら<a href="">こちら</a>からお問い合わせください。</p>-->
		</div>
		<div class="join">
			<p>現在優先案内枠付のスポンサーチケット発売中!!</p>
			<!--<div class="btn-join"><a href="">FRONTEND CONFERENCE 2016 に参加する！</a></div>-->
			<div class="btn"><a href="http://the-frontend-conference-2016.peatix.com" target="_blank">個人/企業スポンサーのお申し込みはこちら</a></div>

			<p>一般参加受付は後日、参加登録開始予定!!</p>
		</div>
		</div>
	</section>
	
	<div id="page-top" class="hvr-icon-bob">
		<a href="#content-wraper">PAGE TOP</a>
	</div>


</div>
<%- include('_footer', {title:"サイトタイトル"}); %>
<!-- /#contentWraper -->
<%- include('_ga'); %>
</body>
</html>