<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('_head', {title:"サイトタイトル"}); %>

	<script type="text/javascript" src="js/functions.js"></script>

	<script type="text/javascript" charset="utf-8" src="edge_includes/edge.6.0.0.min.js"></script>

	<script>
		AdobeEdge.loadComposition('main', 'EDGE-10196486', {
			scaleToFit: "none",
			centerStage: "none",
			minW: "0px",
			maxW: "undefined",
			width: "980px",
			height: "500px"
		}, {dom: [ ]}, {
			dom: [
				{
					id: 'bg_pattern',
					type: 'image',
					tag: 'img',
					rect: ['0px', '0px', '980px', '500px', 'auto', 'auto'],
					fill: ["rgba(0,0,0,0)",'img/bg_pattern.jpg','0px','0px']
				},
				{
					id: 'bg_shape_l2',
					type: 'image',
					tag: 'img',
					rect: ['0px', '231px', '215px', '221px', 'auto', 'auto'],
					fill: ["rgba(0,0,0,0)",'img/bg_shape_l.png','0px','0px']
				},
				{
					id: 'bg_shape_r2',
					type: 'image',
					tag: 'img',
					rect: ['752px', '0px', '228px', '243px', 'auto', 'auto'],
					fill: ["rgba(0,0,0,0)",'img/bg_shape_r.png','0px','0px']
				},
				{
					id: 'mainttl',
					type: 'image',
					tag: 'img',
					rect: ['220px', '121px', '539px', '245px', 'auto', 'auto'],
					fill: ["rgba(0,0,0,0)",'img/mainttl.png','0px','0px']
				}
			],
			style: {
				'${symbolSelector}': {
					isStage: true,
					rect: [undefined, undefined, '980px', '500px']
				}
			}
		});
	</script>
</head>
<body>
<%- include('_header', {top:true}); %>


<div id="content-wraper">
	<section class="main-area">
		<div class="inner EDGE-10196486" id="Stage">
			<h1 class="sp_block"><img src="img/mainttl.png" alt="Frontend Conference 2016"></h1>
			<div class="snsbox cf">
				<%- include('_socials', {title:"サイトタイトル"}); %>
			</div><!-- /.snsbox -->

	<div>
	</div>

			<div class="bnrbox cf">
				<div class="bnr"><a href="http://the-frontend-conference-2016.peatix.com" target="_blank" class="hvr-icon-wobble-horizontal">スポンサー募集中!!</a></div>
			</div><!-- /.bnrbox cf -->
		</div><!-- /.inner -->
	</section><!-- /.main-area -->

	<section id="about" class="cont">
		<div class="inner">
			<h2><i class="fa fa-exclamation"></i><span>ABOUT</span></h2>
			<h3>関西最大級のフロントエンドの祭典</h3>
			<p>2016年03月05日　大阪梅田の新梅田研修センターにて、<br>フロントエンドエンジニア/デザイナー向けイベントを開催します。</p>
			<p>デザイナー向け、エンジニア向け合わせて10以上のセッショントラックに加え、<br>もくもく会ブースやハンズオンブースなど初めての方でも気軽に楽しめる企画が盛り沢山!!</p>
			<p>デザイナーもエンジニアもWebで働く全ての人のために。<br>関西最大級のフロントエンドイベントが今始まります!!</p>
			<br>
			<p>
				JSフレームワークやSASS,デザイン設計など 気になるセッション一覧は
				<a style="color:#00C0FF;" href="./speaker.html">こちらをチェック!!</a>
			</p>
		</div><!-- /.inner -->
	</section><!-- /#about -->


	<section id="news" class="cont">
		<div class="inner">
			<h2><i class="fa fa-bell-o"></i><span>NEWS</span></h2>
			<div class="newsbox" style="width: 100%">
				<% news.forEach(function(newsline){ %>
				<dl class="newsrow" >
					<dt><span class="day"><%=newsline.date%></span><span class="label-new">new</span></dt>
					<dd>
						<%if(newsline.link){%>
						<a href="<%=newsline.link%>"><%=newsline.title%></a>
						<%}else{%>
						<%=newsline.title%>
						<%}%>
					</dd>
				</dl><!-- /.newsrow -->
				<% })%>
				<!--<p class="btn-read">-->
					<!--<a href="/news.html" class="hvr-underline-reveal"><i class="fa fa-angle-right"></i>Read more</a>-->
				<!--</p>&lt;!&ndash; /.btn &ndash;&gt;-->
			</div><!-- /.newstable -->
		</div><!-- /.inner -->
	</section><!-- /#about -->

	<section id="access" class="cont">
		<div class="inner">
			<h2><i class="fa fa-map-o"></i><span>DATE/ACCESS</span></h2>
			<div class="mapbox cf">
				<div class="l">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.126506277503!2d135.48678405582905!3d34.701989014726664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x5b1c4510126e4191!2z5paw5qKF55Sw56CU5L-u44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1450943709081" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="r dateArea">
					<style>
						.dateArea h4{
							font-size: 1.1em;
							font-weight: bold;
							margin-bottom: .5em;;
						}
						.dateArea p{
							margin-bottom: .5em;;
						}
					</style>
					<br>
					<h4>日時</h4>

					<p>2016/03/05 土曜日</p>
					<p>10:00 - 18:00 (別途懇親会を予定)</p>

					<h4>会場</h4>
					<p>新梅田研研修センター &nbsp; <a href="http://www.temmacenter.com/shin_umeda/access/index.html" target="_blank">公式サイト</a></p>
					<p>JR大阪駅 より 徒歩 10分</p>
				</div>
			</div><!-- /.mapbox -->
		</div><!-- /.inner -->
	</section><!-- /#access -->


	<section id="speaker" class="cont">
		<div class="inner">
			<h2><i class="fa fa-bullhorn"></i><span>SPEAKER</span></h2>
			<ul class="list-speaker cf">
				<% speakers.forEach(function(speaker){ %>
				<li>
					<div class="ih-item circle colored effect1">
						<a href="speaker.html#<%=speaker.code%>"><div class="spinner"></div>
							<div class="img">
								<img src="./images/speakers/<%=speaker.code%>.jpg">
							</div>
							<div class="info">
								<div class="info-back">
									<p><i class="fa fa-share"></i></p>
								</div>
							</div>
							<span class="name"><%=speaker.name%></span></a>
					</div>
				</li>
				<% })%>
			</ul>
			<!-- /.list-speaker -->
		</div><!-- /.inner -->
	</section><!-- /#speaker -->

	<section id="faq" class="cont">
		<div class="inner">
			<h2><i class="fa fa-question"></i><span>FAQ</span></h2>

			<p class="cs">comming soon!</p><!-- /.cs -->

			<!-- <dl class="faq-col">
				<dt>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dt>
				<dd>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dd>
			</dl>
			<dl class="faq-col">
				<dt>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dt>
				<dd>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dd>
			</dl>
			<dl class="faq-col">
				<dt>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dt>
				<dd>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dd>
			</dl>
			<dl class="faq-col">
				<dt>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dt>
				<dd>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dd>
			</dl> -->
		</div><!-- /.inner -->
	</section><!-- /#faq -->


	<section id="sponsor" class="cont">
		<div class="inner">
			<h2><i class="fa fa-star"></i><span>Sponsor</span></h2>

			<ul class="sponsor-list">
				<% sponsors.forEach(function(sponsor){ %>
				<li><a href="<%=sponsor.link %>" target="_blank"><img width="80%" src="./images/sponsors/<%=sponsor.code%>.png"></a></li>
				<% })%>
			</ul><!-- /.sponsor-list -->

		</div><!-- /.inner -->
	</section><!-- /#sponsor -->

	<section id="staff" class="cont">
		<div class="inner">
			<h2><i class="fa fa-users"></i><span>Staff</span></h2>

			<p class="cs">comming soon!</p><!-- /.cs -->
			<!--<ul class="staff-list">-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
				<!--<li><a href="#" target="_blank"><img src="http://placehold.it/800x800/27709b/ffffff"><span>苗字 名前</span></a></li>-->
			<!--</ul>&lt;!&ndash; /.sponsor-list &ndash;&gt;-->

		</div><!-- /.inner -->
	</section><!-- /#staff -->


	<div id="page-top" class="hvr-icon-bob">
		<a href="#content-wraper">PAGE TOP</a>
	</div>

	<%- include('_footer', {title:"サイトタイトル"}); %>
</div>
<!-- /#contentWraper -->
<%- include('_ga'); %>
</body>
</html>