<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('_head', {title:"サイトタイトル"}); %>

	<script type="text/javascript" src="js/functions.js"></script>

	<script type="text/javascript" charset="utf-8" src="edge_includes/edge.6.0.0.min.js"></script>

<script>
   AdobeEdge.loadComposition('main', 'EDGE-10196486', {
    scaleToFit: "none",
    centerStage: "none",
    minW: "0px",
    maxW: "undefined",
    width: "980px",
    height: "450px"
}, {dom: [ ]}, {
    dom: [
        {
            id: 'bg_pattern',
            type: 'image',
            tag: 'img',
            rect: ['0px', '0px', '980px', '450px', 'auto', 'auto'],
            fill: ["rgba(0,0,0,0)",'images/bg_pattern.jpg','0px','0px']
        },
        {
            id: 'bg_shape_l2',
            type: 'image',
            tag: 'img',
            rect: ['0px', '231px', '215px', '221px', 'auto', 'auto'],
            fill: ["rgba(0,0,0,0)",'images/bg_shape_l.png','0px','0px']
        },
        {
            id: 'bg_shape_r2',
            type: 'image',
            tag: 'img',
            rect: ['752px', '0px', '228px', '243px', 'auto', 'auto'],
            fill: ["rgba(0,0,0,0)",'images/bg_shape_r.png','0px','0px']
        },
        {
            id: 'mainttl',
            type: 'image',
            tag: 'img',
            rect: ['220px', '121px', '539px', '245px', 'auto', 'auto'],
            fill: ["rgba(0,0,0,0)",'images/mainttl.png','0px','0px']
        }
    ],
    style: {
        '${symbolSelector}': {
            isStage: true,
            rect: [undefined, undefined, '980px', '450px']
        }
    }
});
</script>
</head>
<body>
<%- include('_header', {top:true}); %>


<div id="content-wraper">
	<section class="main-area">
		<div class="inner EDGE-10196486" id="Stage">
			<h1 class="sp_block"><img src="img/mainttl.png" alt="Frontend Conference 2016"></h1>
			<div class="snsbox cf">
				<%- include('_socials', {title:"サイトタイトル"}); %>
			</div><!-- /.snsbox -->

	<div>
	</div>

			<div class="bnrbox cf">
				<div class="bnr"><a href="http://kfug.connpass.com/event/26509/" target="_blank" class="hvr-icon-wobble-horizontal">LT登壇者募集中!!</a></div>
			</div><!-- /.bnrbox cf -->
		</div><!-- /.inner -->
	</section><!-- /.main-area -->

	<section id="about" class="cont">
		<div class="inner">
			<h2><i class="fa fa-exclamation"></i><span>ABOUT</span></h2>
			<h3>関西最大級のフロントエンドの祭典</h3>
			<p>2016年03月05日　大阪梅田の新梅田研修センターにて、<br>フロントエンドエンジニア/デザイナー向けイベントを開催します。</p>
			<p>デザイナーもエンジニアもWebで働く全ての人のために。<br>関西最大級のフロントエンドイベントが今始まります!!</p>
			<br>

			<a href="http://ptix.co/1RHIQDV" target="_blank" class="kfugBtn hvr-back-pulse">
				参加申込はこちら!!
			</a>
			<p>
				ハンズオン優先参加等の特典付きのスポンサーチケットは
				<a href="http://the-frontend-conference-2016.peatix.com/">
					こちら
				</a>
				からお申し込みください!!
			</p>

			<br><br><br>
			<h3>Webではたらく全ての人のために</h3>
			<p>FRONTEND CONFERENCE 2016の魅力は、なんといってもそのコンテンツの幅広さにあります。</p>
			<p>デザイナー向け、エンジニア向け合わせて10以上のセッショントラックに加え、<br>もくもく会ブースやハンズオンブースなど初めての方でも気軽に楽しめる企画が盛り沢山!!</p>
			<p>
				コンテンツの詳細は随時公開していきますので、是非
				<a href="https://www.facebook.com/frontconf2016/">Facebookページ</a>
				や
				<a href="https://twitter.com/frontkansai">Twitter公式アカウント</a>
				にて最新情報のチェックをお願いします。
			</p>

			<a href="./speaker.html" class="kfugBtn hvr-back-pulse ">
				Angular2やSassなど <br>
				気になるセッション一覧はこちら
			</a>

			<a href="handson.html" class="kfugBtn hvr-back-pulse">
				ハンズオン企画はこちら
			</a>


		</div><!-- /.inner -->


	</section><!-- /#about -->


	<section id="news" class="cont">
		<div class="inner">
			<h2><i class="fa fa-bell-o"></i><span>NEWS</span></h2>
			<div class="newsbox" style="width: 100%">
				<% news.forEach(function(newsline){ %>
				<dl class="newsrow" >
					<dt><span class="day"><%=newsline.date%></span><span class="label-new">new</span></dt>
					<dd>
						<%if(newsline.link){%>
						<a href="<%=newsline.link%>"><%=newsline.title%></a>
						<%}else{%>
						<%=newsline.title%>
						<%}%>
					</dd>
				</dl><!-- /.newsrow -->
				<% })%>
				<!--<p class="btn-read">-->
					<!--<a href="/news.html" class="hvr-underline-reveal"><i class="fa fa-angle-right"></i>Read more</a>-->
				<!--</p>&lt;!&ndash; /.btn &ndash;&gt;-->
			</div><!-- /.newstable -->
		</div><!-- /.inner -->
	</section><!-- /#about -->

	<section id="access" class="cont">
		<div class="inner">
			<h2><i class="fa fa-map-o"></i><span>DATE/ACCESS</span></h2>
			<div class="mapbox cf">
				<div class="l">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.126506277503!2d135.48678405582905!3d34.701989014726664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x5b1c4510126e4191!2z5paw5qKF55Sw56CU5L-u44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1450943709081" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="r dateArea">
					<style>
						.dateArea h4{
							font-size: 1.1em;
							font-weight: bold;
							margin-bottom: .5em;;
						}
						.dateArea p{
							margin-bottom: .5em;;
						}
					</style>
					<br>
					<h4>日時</h4>

					<p>2016/03/05 土曜日</p>
					<p>10:00 - 18:00 (別途懇親会を予定)</p>
					<br>
					<h4>会場</h4>
					<p>新梅田研修センター &nbsp; <a href="http://www.temmacenter.com/shin_umeda/access/index.html" target="_blank">公式サイト</a></p>
					<p>JR大阪駅 より 徒歩 10分</p>
					<p>JR大阪駅よりシャトルバスも運行</p>
					<p>詳しくは<a href="http://www.temmacenter.com/shin_umeda/access/index.html#access01">公式HP</a>をチェック!!</p>

					<br><br>
					<p>会場周辺の <a href="https://www.google.com/maps/d/edit?mid=zaBnRQARfV0M.kQqnvV-PSshI&usp=sharing">ランチマップ</a>はこちら!!</p>
				</div>
			</div><!-- /.mapbox -->
		</div><!-- /.inner -->
	</section><!-- /#access -->


	<section id="speaker" class="cont">
		<div class="inner">
			<h2><i class="fa fa-bullhorn"></i><span>SPEAKER</span></h2>
			<ul class="list-speaker cf">
				<% speakers.forEach(function(speaker){ %>
				<li>
					<div class="ih-item circle colored effect1">
						<a href="speaker.html#<%=speaker.code%>"><div class="spinner"></div>
							<div class="img">
								<img style="height: inherit" src="./images/speakers/<%=speaker.code%>.jpg">
							</div>
							<div class="info">
								<div class="info-back">
									<p><i class="fa fa-share"></i></p>
								</div>
							</div>
							<span class="name"><%=speaker.name%></span></a>
					</div>
				</li>
				<% })%>
			</ul>
			<br><br>
			<p style="text-align: right"><a href="speaker.html" target="_blank">セッション情報一覧はこちら</a></p>
			<!-- /.list-speaker -->
		</div><!-- /.inner -->
	</section><!-- /#speaker -->

	<section id="faq" class="cont">
		<div class="inner">
			<h2><i class="fa fa-question"></i><span>FAQ</span></h2>

			<p class="cs">coming soon!</p><!-- /.cs -->

			<!-- <dl class="faq-col">
				<dt>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dt>
				<dd>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dd>
			</dl>
			<dl class="faq-col">
				<dt>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dt>
				<dd>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dd>
			</dl>
			<dl class="faq-col">
				<dt>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dt>
				<dd>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dd>
			</dl>
			<dl class="faq-col">
				<dt>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dt>
				<dd>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</dd>
			</dl> -->
		</div><!-- /.inner -->
	</section><!-- /#faq -->


	<section id="sponsor" class="cont">
		<div class="inner">
			<h2><i class="fa fa-star"></i><span>Sponsor</span></h2>
			<div class="container-fluid">
			<br><br>
			<ul class="sponsor-list large-sponsor row"><!-- /.large-sponsor -->
                <div class="hidden-xs">
				<% sponsors.forEach(function(sponsor){ %>
				<% if(sponsor.class=="session"){%>
					<li><a href="<%=sponsor.link %>" target="_blank"><img width="110%" src="./images/sponsors/<%=sponsor.code%>.png"></a></li>
				<% }%>
				<% })%>
                </div>
			</ul>

            <ul class="sponsor-list large-sponsor row">
                <div class="visible-xs">
                <% sponsors.forEach(function(sponsor){ %>
                <% if(sponsor.class=="session"){%>
                    <li><a href="<%=sponsor.link %>" target="_blank"><img width="150%" src="./images/sponsors/<%=sponsor.code%>.png"></a></li>
                <% }%>
                <% })%>
                </div>
            </ul><!-- /.large-list -->

            <ul class="sponsor-list middle-sponsor row"><!-- /.middle-sponsor -->
                <div class="hidden-xs">
                <% sponsors.forEach(function(sponsor){ %>
                <% if(sponsor.class=="booth"){%>
                <li><a href="<%=sponsor.link %>" target="_blank"><img width="100%" src="./images/sponsors/<%=sponsor.code%>.png"></a></li>
                <% }%>
                <% })%>
                </div>
            </ul>

            <ul class="sponsor-list middle-sponsor row">
                <div class="visible-xs">
                <% sponsors.forEach(function(sponsor){ %>
                <% if(sponsor.class=="booth"){%>
                <li class="col-xs-6"><a href="<%=sponsor.link %>" target="_blank"><img width="120%" src="./images/sponsors/<%=sponsor.code%>.png"></a></li>
                <% }%>
                <% })%>
                </div>
			</ul><!-- /.middle-sponsor -->

			<ul class="sponsor-list small-sponsor row"><!-- /.small-sponsor -->
				<% sponsors.forEach(function(sponsor){ %>
				<% if(sponsor.class==undefined){%>
				<li class="col-xs-6"><a href="<%=sponsor.link %>" target="_blank"><img width="80%" src="./images/sponsors/<%=sponsor.code%>.png"></a></li>
				<% }%>
				<% })%>
			</ul><!-- /.small-sponsor -->
            </div>
			<br><br>
			<a href="http://the-frontend-conference-2016.peatix.com/" class="kfugBtn hvr-back-pulse">
				スポンサー掲載ご希望の方はこちらよりお申し込みください
			</a>
		</div><!-- /.inner -->

	</section><!-- /#sponsor -->

	<section id="staff" class="cont">
		<div class="inner">
			<h2><i class="fa fa-users"></i><span>Staff</span></h2>

			<!--<p class="cs">coming soon!</p><!-- /.cs -->
			<ul class="staff-list">
				<% staffs.forEach(function(staff){ %>
				<li>
				<%if(staff.link){%>
                    <a href="<%=staff.link%>" target="_blank"><img src="./images/staffs/<%=staff.image%>">
						<span><%=staff.name%></span>
					</a>
				<%}else{%>
                    <img src="./images/staffs/<%=staff.image%>">
					<span><%=staff.name%></span>
				<%}%>
				</li>
				<% })%>
			</ul><!-- /.sponsor-list -->

		</div><!-- /.inner -->
	</section><!-- /#staff -->


	<div id="page-top" class="hvr-icon-bob">
		<a href="#content-wraper">PAGE TOP</a>
	</div>

	<%- include('_footer', {title:"サイトタイトル"}); %>
</div>
<!-- /#contentWraper -->
<%- include('_ga'); %>
</body>
</html>