<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('_head', {title:"登壇・セミナー情報"}); %>

  <script>
    $(function(){
      $(".scroll").on("click",function(){
        var p = $($(this).attr("data-target")).offset().top;
        $('html,body').animate({ scrollTop: p }, 'fast');
        return false;
      });
    })

  </script>
  <style>
    .sublogo{
      width:100%;
      max-width: 980px;
      margin: 0 auto;
      display: block;
    }
  </style>
</head>
<body id="speaker">
<%- include('_header', {top:false}); %>


<div id="content-wraper">
  <img class="sublogo" src="./img/fec_main.jpg" alt="">
  <section class="pagettl column">
    <div class="inner">
      <h2 class="animated bounceInDown">セッション一覧 - SPEAKERS</h2>
    </div><!-- /.inner -->
  </section><!-- /.column -->
  <section class="hall　column">
    <div class="inner">
  <h3 id="timetableBtn"><span>タイムテーブル</span></h3>
      <div class="sp-togglearea">
        <table class="halltable a-halltable l">
          <thead>
            <tr>
              <th colspan="2">Aホール 7F</th>
            </tr>
          </thead>
          <tbody>
          <% speakers.forEach(function(speaker){ %>
            <% if(speaker.hall == "A"){%>
              <tr>
                <th><%=speaker.time%></th>
              </tr>
              <tr>
                <td><a class="scroll" data-target="#<%=speaker.code%>"><%=speaker.title%></a></td>
              </tr>
            <% }%>
          <% });%>
          </tbody>
        </table>

        <table class="halltable b-halltable r">
          <thead>
            <tr>
              <th colspan="2">Bホール 9F</th>
            </tr>
          </thead>
          <tbody>
            <% speakers.forEach(function(speaker){ %>
              <% if(speaker.hall == "B"){%>
                <tr>
                  <th><%=speaker.time%></th>
                </tr>
                <tr>
                  <td><a class="scroll" data-target="#<%=speaker.code%>"><%=speaker.title%></a></td>
                </tr>
              <% }%>
            <% });%>
          </tbody>
        </table>
      </div>
      <!-- /.sp-togglearea -->
    </div>
  </section>
  <% speakers.forEach(function(speaker){ %>
  <section class="column speaker" id="<%=speaker.code%>">
    <div class="inner">
    <!--<div class="label time"></div>-->
    <!--<div class="label hole a-hole"></div>-->
      <div class="cf">
      <div class="speaker-img">
          <p class="img">
            <img src="./images/speakers/<%=speaker.code%>.jpg">
          </p><!-- /.img -->
        </div><!-- /.speaker-img -->
        <div class="speaker-detail">
          <span class="speakerlabel time-label"><%=speaker.time %></span>
          <% if(speaker.hall == "A"){%>
          <span class="speakerlabel hall-label a-hall "><%=speaker.hall %>ホール</span>
          <% }%>
          <% if(speaker.hall == "B"){%>
          <span class="speakerlabel hall-label b-hall"><%=speaker.hall %>ホール</span>
          <% }%>
          <!-- <span class="speakerlabel category-label"><%=speaker.category %></span> -->
          <h2><%=speaker.title%></h2>
          <h1><span class="speaker-name"><%=speaker.name %></span></h1>
          <div class="linklist">
            <% if(speaker.link.twitter){%>
            <a href="<%=speaker.link.twitter %>" target="_blank" class="link"><i class="icon-twitter"></i></a>
            <% }%>
            <% if(speaker.link.facebook ){%>
            <a href="<%=speaker.link.facebook %>" target="_blank" class="link"><i class="fa fa-facebook-official"></i></a>
            <% }%>
            <% if(speaker.link.blog ){%>
            <a href="<%=speaker.link.blog %>" target="_blank" class="link"><i class="fa fa-desktop"></i></a>
            <% }%>
          </div><!-- /.linklist -->
          <p class="description-txt"><%=speaker.description %></p>
        </div><!-- /.speaker-detail -->
      </div><!-- /.cf -->
      <ul class="tag">
        <!--<li><span><%=speaker.tag %></span></li>-->
      </ul>
    </div><!-- /.inner -->
  </section><!-- /.column speaker -->
  <% });%>
  <section>
    <p class="nobtntxt">and more ...</p>
  </section>

  <div id="page-top" class="hvr-icon-bob">
    <a href="#content-wraper">PAGE TOP</a>
  </div>

  <%- include('_footer', {title:"サイトタイトル"}); %>

</div>
<!-- /#contentWraper -->
<%- include('_ga'); %>
<script type="text/javascript">
  $(function(){
    $(window).on("load resize", function(){
      if( 640 < parseInt( $(window).width() ) ) {
        $(".sp-togglearea").show();
        $("#timetableBtn").removeClass('act');
        return false;
      } else {
        //SP
        $(".sp-togglearea").hide();
      }
    });
    $("#timetableBtn").on("click", function() {
        $(this).toggleClass('act');
        $(".sp-togglearea").slideToggle();
    });
  });
</script>
</body>
</html>